{:paths ["src" "test"]
 :deps {gftd/rtl {:git/url "https://github.com/kotoba-lang/rtl.git" :sha "4c2d6d5340a47cd310028482c6195c59d100de4d"}
        gftd/pnr {:git/url "https://github.com/kotoba-lang/pnr.git" :sha "294a5e26ac54cea653540632f5aa7c2f72ee32c6"}
        gftd/model-checking {:git/url "https://github.com/kotoba-lang/model-checking.git" :sha "7595e47d44caec9600f260261cc8cab4c1a30a7e"}
        gftd/power {:git/url "https://github.com/kotoba-lang/power.git" :sha "3038529b859a34f4299a6301b3bf8d0cac49c0fe"}
        gftd/dft {:git/url "https://github.com/kotoba-lang/dft.git" :sha "e0d19766839963114838526e54f11b0503ad0166"}
        gftd/signal-integrity {:git/url "https://github.com/kotoba-lang/signal-integrity.git" :sha "66e8bacabcd4771e2b833dbea707711e110ec3d0"}
        gftd/yield {:git/url "https://github.com/kotoba-lang/yield.git" :sha "31ee270a574da18bb602d58f8422f1350cdd11f4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
           :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                              "--fail-level" "error"]}}}
